﻿@page
@model IndexModel


<p id="p1" 
   draggable="true" 
   class="div-p1">
    This element is draggable.
</p>


<p id="target" 
   ondrop="drop_handler(event)" 
   ondragover="dragover_handler(event)"
   class="div-target">
    Drop Zone
</p>