﻿html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.div-p1 {
    width: 100px;
    height: 50px;
    background-color: beige;
}

.div-target {
    width: 250px;
    height: 250px;
    background-color: cornflowerblue;
}